<div class="component-container">
  <div class="sidebar-container ">
    <div class="sidebar-header">
      <div class="bar-title">Main Menu</div>
    </div>
    <div class="divider horizontal"></div>
    <div class="sidebar-body ">
      <div class="button-row">
        <button [ngClass]="{'button': true, 'isActive': this.activeComponent === 'globalComponent'}" (click)="openLibraryComponent('globalComponent')">Global Catalog</button>
      </div>
      <div class="button-row" *ngFor="let item of sideBarButtons;">
        <button [ngClass]="{'button': true, 'isActive': this.activeComponent === item.componentName}" *ngIf="item.isVisible;" (click)="openLibraryComponent(item.componentName);">
          {{item.name}}
        </button>
      </div>
    </div>
  </div>
  <div class="render-container">
    <ng-template gadget-position></ng-template>
  </div>
</div>
