<h1 style="
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
">About us</h1>
<div class="about-container card-container">
  <mat-card>
    <mat-card-title>Fortune</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p> Hi my name is Forune Musonda.</p>
    </mat-card-content>
    <!--<mat-card-actions></mat-card-actions>-->
  </mat-card>

  <mat-card>
    <mat-card-title>Stephane Fokou</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p> My name is Stephane Fokou, student at UMGC major Computer Science. I am a member of Group3. Our
        project is <strong>Library Management<br>
          System</strong> My email is <i>sfokou@umgc.student.edu</i> <br>
        Follow this link <a
          href="https://github.com/CMSC495-SO/CMSC495-LibraryManagementSystem/tree/master/library-view/src">visit our
          GitHub</a>.</p>
    </mat-card-content>
    <!--<mat-card-actions></mat-card-actions>-->
  </mat-card>

  <mat-card>
    <mat-card-title>Benny Iko</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p> Former professional basketball player
        turned coder. Class of 2020.</p>
    </mat-card-content>
    <!--<mat-card-actions></mat-card-actions>-->
  </mat-card>

  <mat-card>
    <mat-card-title>Steven Ogwuazor</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        My name is Steven Ogwuazor. I currently work as a software developer for <strong>SAIC</strong> and have been
        working on different contracts for 5 to almost 6 years now.
        This will be my final project before I graduate and I'm looking forward to working with my team to create
        something memorable.
        I can be reached at email:<i>steveogwuazor@yahoo.com</i>.
      </p>
    </mat-card-content>
    <!--<mat-card-actions></mat-card-actions>-->
  </mat-card>
</div>
